@import 'variables';

html, body, #app, .weather-vane {
  height: 100%;
}

.no-builds {
  margin-top: 40px;
  text-align: center;
}

.build-list {
  height: 100%;
  margin-top: 10px;
  overflow-y: scroll;

  input {
    width: 90%;
  }

  ul {
    padding: 15px 5px 20px;
  }

  li {
    margin: 5px;
    list-style-type: none;
    cursor: pointer;
  }

  div {
  overflow: auto;
  }
}

.build-card {
  border-bottom: 1px solid #ddd;
  padding: 5px 5px 10px 5px;

  .title {
    i {
      font-size: 16px;
      margin: 0px 5px 10px 0px;
    }
  }

  i {
    margin-right: 5px;
  }

  .summary {
    margin-top: 3px;
    font-size: 12px;
  }

}

.build-card.selected {
  background-color: #333333;
  color: white;
}

.build-details {
  padding: 0px 20px 15px 15px;

  .title {
    display: inline-block;
    margin-bottom: 20px;
    small {
      margin-left: 15px;
    }
  }
}

.size-18 {
  font-size: 18px;
}

dl > dd {
  border: solid black;
  border-width: 1px 1px 0px 1px;
  margin: 5px;
}

table {
  margin-top: 25px;
  width: 100%;
}

.bg-disabled {
  color: #888888;
  background-color: #eeeeee;
}

.success {
  color: green;
  border-color: green;
}

.failure {
  color: red;
  border-color: red;
}

.bg-cancelled {
  background-color: #eeeeee;
}

.test-result {
  cursor: pointer;

  td {
    border-bottom: 1px solid white;
  }
}

.ro-form {
  margin-top: 15px;

  .ro-form-item {
    margin: 10px 0px 10px;
  }
}

.pass-fail-indicator {

  margin-right: 20px;
  display: inline-block;

  .indicator {
    display: inline-block;
    width: 60px;
    margin: 3px;
  }

  .circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    position: relative;
  }

  .circle-border {
    border: 1px solid;
  }

  .circle-solid{
    background-color: whitesmoke;
  }

  .circle:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }

  .score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 1.2em;
  }
}

.home {

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
  
  h3 {
    font-size: 36px;
  }
  
  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  .display-height {
    height: 100vh;
  }

  .sunny {
    background-image: url("/img/backgrounds/sunny.jpg");
    background-size: 100%;
  }

  .cloudy {
    background-image: url("/img/backgrounds/cloudy.jpg");
    background-size: 100%;
  }

  .rainy {
    background-image: url("/img/backgrounds/rainy.jpg");
    background-size: 100%;
  }

  .stormy {
    background-image: url("/img/backgrounds/stormy.jpg");
    background-size: 100%;
  }

  .bottom-margin {
    margin-bottom: 20px;
  }

  .top-margin {
    margin-top: 40px;
  }

  .left-margin {
    padding-left: 30px;
  }

  .results-latest {
    position: relative;
    top: -40px;
  }

  .results-previous {
    position: relative;
    top: -5px;
  }
}
