@import 'variables';

html, body, #app, .weather-vane {
  height: 100%;
}

.no-builds {
  margin-top: 40px;
  text-align: center;
}

.build-list {
  height: 100%;
  margin-top: 10px;
  overflow-y: scroll;

  input {
    width: 90%;
  }

  ul {
    padding: 15px 5px 20px;
  }

  li {
    margin: 5px;
    list-style-type: none;
    cursor: pointer;
  }

  div {
  overflow: auto;
  }
}

.build-card {
  border-bottom: 1px solid #ddd;
  padding: 5px 5px 10px 5px;

  .title {
    i {
      font-size: 16px;
      margin: 0px 5px 10px 0px;
    }
  }

  i {
    margin-right: 5px;
  }

  .summary {
    margin-top: 3px;
    font-size: 12px;
  }

}

.build-card.selected {
  background-color: #333333;
  color: white;
}

.build-details {
  padding: 0px 20px 15px 15px;

  .title {
    small {
      margin-left: 15px;
    }
  }
}

.size-18 {
  font-size: 18px;
}

dl > dd {
  border: solid black;
  border-width: 1px 1px 0px 1px;
  margin: 5px;
}

table {
  margin-top: 25px;
  width: 100%;
}

.bg-disabled {
  color: #888888;
  background-color: #eeeeee;
}

.test-result {
  cursor: pointer;
}

.ro-form {
  margin-top: 15px;

  .ro-form-item {
    margin: 10px 0px 10px;
  }
}