<h1>Release Candidates</h1>
<div>
    <p>Updated at {{ now.format('HH:mm:ss')}}</p>
    <button type="button" class="btn btn-sm btn-warning" ng-click="stopRefresh()">Stop Automatic Refresh</button>
    <button type="button" class="btn btn-sm btn-primary" ui-sref="display">Display</button>
</div>
<br>
<table class="table">
    <thead>
    <th>Build</th>
    <th>Branch</th>
    <th>Published</th>
    <th>Status</th>
    <th>Results</th>
    </thead>
    <tbody>
    <tr ng-repeat="candidate in candidates | orderBy: '-buildDate'">
        <td>{{ candidate.buildId }}</td>
        <td>{{ candidate.branch }}</td>
        <td>{{ published(candidate.buildDate) }}</td>
        <td>{{ candidate.status }}</td>
        <td>{{ testResults(candidate.testing) }}</td>
    </tr>
    </tbody>

</table>
